*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, sans-serif;
}

#showcase{
    height: 100vh;
    background: url(../img/everest.jpg) no-repeat center center/cover;
    color: #ffffff;
    position: relative; /*Position relative*/
}

.showcase_content{
    /*Text position*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*Overlay*/
    position: absolute;/*Position absolute*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

.showcase_heading{
    font-size: 4rem;
    padding: 1rem;
}

.showcase_lead{
    font-size: 1.4rem;
    padding: 0 15rem 1rem;
}